{% load static %}
<html lang="en">
<head>
    <title>Agent Location Recorder</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'machinery/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Home - Location Storage Project</h1>
            <div class="hdiv">
                <div class="frame">
                    <h2>
                        <a href="{% url 'machines' %}" class="btn">🚜 <br> View Machines</a>
                    </h2>
                </div>
                <div class="frame">
                    <h2>
                        <a href="{% url 'machine_map' %}" class="btn">🗺️ <br> View Map</a>
                    </h2>
                </div>
                <div class="frame">
                    <h2>
                        <a href="{% url 'agent' %}" class="btn">🕵️‍♂️ <br>Agent</a>
                    </h2>
                </div>
                <div class="frame">
                    <h2>{{ num_devices }}</h2>
                    <p>Managed Machines</p>
                </div>
            </div>
        </div>
    </div>
    
</body>